/* Base style */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

header {
    background-color: #ffffff;
    display: flex;
    padding: 2px 20px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display SC';
    font-variant-caps: petite-caps;
    height: 8%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    width: 50%;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 100%;
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    float: right;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin: 0px 20px;
    padding: 0px 10px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
}

#menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

main {
    padding: 20px;
    background-color: aqua;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    font-family: 'Playfair Display SC';
}

#address {
    font-size: 12px;
    color: #000;
    opacity: 25%;
    justify-content: flex-start;
    width: 33%;
    text-align: left;
    padding-left: 20px;
}

#rights {
    justify-content: left;
    width: 33%;
    font-variant-caps: petite-caps;
    font-size: 15px;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
    height: 100%;
    padding-right: 20px;
}

#social-media img {
    padding: 0px 5px;
    height: 30px;
    width: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .menu ul li {
        margin: 10px 0;
        text-align: center;
    }

    #menu-toggle {
        display: block;
    }
}

/* Show menu when toggled */
.menu nav.active ul {
    display: flex;
}
