/* Base style */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

header {
    background-color: #ffffff;
    padding: 2px 20px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display SC';
    font-variant-caps: petite-caps;
    height: 10vh;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
    height: 100%;
}

.logo img {
    align-items: center;
    height: 10vh;
}

.menu {
    display: flex;
    align-items: center;
    float: right;
    justify-content: flex-end;
    font-size: 25px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li {
    margin: 0px 20px;
    padding: 0px 10px;
}

.menu ul li a {
    color: #000;
    text-decoration: none;
}

#menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

main {
    /* background-color: aqua; */
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    text-align: center;
}

#form-bg {
    background-image: url("../data/form-bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-container {
    background-color: #ffffff;
    border: 6px solid #266ac1;
    border-radius: 15px;
    width: 23vw;
    height: auto;
    border: #000 5px;
    box-shadow: 
        15px 0px 20px -15px rgba(0, 0, 0, 0.2),
        -15px 0px 20px -15px rgba(0, 0, 0, 0.2),
        0px 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 27px;
}

.form-container input {
    width: 20vw;
    padding-left: 25px;
    margin-top: 35px;
    border: 1px solid #ffffff;
    border-radius: 17px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #EEEEEE;
    font-family: 'Nunito', sans-serif;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"] {
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    resize: none;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus {
    border-color: #F7C33B;
    outline: none;
}

.form-container button {
    width: 30%;
    height: 20%;
    padding: 10px;
    background-color: #49843d;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 30px;
}

.form-container button:hover {
    background-color: #85C300;
}

footer {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    font-family: 'Playfair Display SC';
    font-size: 20px;
}

#address {
    color: #000;
    margin: auto;
    padding: auto;
    align-items: center;
    opacity: 50%;
    justify-content: flex-start;
    width: 33%;
    text-align: left;
    padding-left: 20px;
}

#rights {
    margin: auto;
    padding: auto;
    justify-content: left;
    width: 33%;
    font-variant-caps: petite-caps;
}

#social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
    height: 100%;
    padding-right: 20px;
}

#social-media img {
    padding: 0px 15px;
    height: 50px;
    width: 50px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .menu ul li {
        margin: 10px 0;
        text-align: center;
    }

    #menu-toggle {
        display: block;
    }
}

/* Show menu when toggled */
.menu nav.active ul {
    display: flex;
}